*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
footer a i:hover{
    color:#000;
    transition:0.3s;
}
html{
    scroll-behavior: smooth;
}
.hero-img{
    width:350px;
    height:350px;
    object-fit:cover;
    border-radius:50%;
}
